@page
@model Disciplinas.IndexModel
@{
    ViewData["Title"] = "Lista de Disciplinas";
    Layout = "~/Pages/Shared/_LayoutLogado.cshtml"; 
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Disciplinas Cadastrados</h2>
        <a class="btn btn-primary" id="btnDisciplina" href="/CadastrarDisciplina">Cadastrar Disciplina</a>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model.Disciplinas)
            {
                <tr>
                    <td>@disc.Nome</td>
                    <td>
                        <a asp-page="/CadastrarDisciplina/Index" asp-page-handler="Edit" asp-route-id="@disc.DisciplinaID" class="btn btn-primary">Editar</a>
                        <form id="deleteForm-@disc.DisciplinaID" method="post" asp-page-handler="Delete" asp-route-id="@disc.DisciplinaID" style="display:inline;">
                            <button type="button" class="btn btn-danger" onclick="confirmDelete('@disc.DisciplinaID')">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // Verifica se há uma mensagem de erro no ViewData
        @if (ViewData["ErrorMessage"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: '@ViewData["ErrorMessage"]',
                    confirmButtonText: 'Ok'
                });
            </text>
        }
        function confirmDelete(profId) {
            Swal.fire({
                title: 'Tem certeza?',
                text: "Esta ação é irreversível. Deseja realmente excluir?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Submete o formulário de exclusão
                    document.getElementById(`deleteForm-${profId}`).submit();
                }
            })
        }
    </script>
}