@page
@model Professores.IndexModel
@{
    ViewData["Title"] = "Lista de Professores";
    Layout = "~/Pages/Shared/_LayoutLogado.cshtml"; // Apontando para o layout com o sidebar
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Professores Cadastrados</h2>
        <a class="btn btn-primary" id="btnProfessor" href="/CadastrarProfessor">Cadastrar Professor</a>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prof in Model.Professores)
            {
                <tr>
                    <td>@prof.Nome</td>
                    <td>@prof.Email</td>
                    <td>
                        <a asp-page="/CadastrarProfessor/Index" asp-page-handler="Edit" asp-route-id="@prof.Id" class="btn btn-primary">Editar</a>
                        <form id="deleteForm-@prof.Id" method="post" asp-page-handler="Delete" asp-route-id="@prof.Id" style="display:inline;">
                            <button type="button" class="btn btn-danger" onclick="confirmDelete('@prof.Id')">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function confirmDelete(profId) {
            Swal.fire({
                title: 'Tem certeza?',
                text: "Esta ação é irreversível. Deseja realmente excluir?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Submete o formulário de exclusão
                    document.getElementById(`deleteForm-${profId}`).submit();
                }
            })
        }
    </script>
}