@page "{alunoId:int}"
@model ELLPScore.Pages.Notas._NotasTablePartialModel
@{
    Layout = null;
}

@{
    var alunoId = RouteData.Values["alunoId"] != null ? int.Parse(RouteData.Values["alunoId"].ToString()) : 0;
    Model.OnGet(alunoId);
}

<tbody>
    @if (Model.Notas != null && Model.Notas.Any())
    {
        foreach (var nota in Model.Notas)
        {
            <tr>
                <td>@nota.Turma.CodigoOuNome</td>
                <td>@nota.Aluno.Serie</td>
                <td>@nota.Aluno.Nome</td>
                <td>@nota.Disciplina.Nome</td>
                <td>@nota.Periodo</td>
                <td>@nota.NotaValor</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" class="text-center">Nenhuma nota encontrada</td>
        </tr>
    }
</tbody>
