@model List<ELLPScore.Domain.Nota>
<table class="table table-bordered mt-5" id="notasTable">
    <thead>
        <tr>
            <th>Turma</th>
            <th>Série</th>
            <th>Nome do Aluno</th>
            <th>Matéria</th>
            <th>Período</th>
            <th>Nota</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var nota in Model)
            {
                <tr>
                    <td>@nota.Turma.CodigoOuNome</td>
                    <td>@nota.Aluno.Serie</td>
                    <td>@nota.Aluno.Nome</td>
                    <td>@nota.Disciplina.Nome</td>
                    <td>
                        @{
                            if (Enum.TryParse(typeof(Periodos), nota.Periodo, out var periodoEnum))
                            {
                                var periodoDisplayName = ((Periodos)periodoEnum).GetDisplayName();
                                @periodoDisplayName
                            }
                            else
                            {
                                @nota.Periodo 
                            }
                        }
                    </td>
                    <td>@nota.NotaValor</td>
                    <td>
                        <form id="deleteForm-@nota.NotaID" method="post" asp-page-handler="DeleteNota" asp-route-id="@nota.NotaID" style="display:inline;">
                            <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete(@nota.NotaID)">
                                X
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">Nenhuma nota encontrada</td>
            </tr>
        }
    </tbody>
</table>