@page
@model Notas.IndexModel
@{
    ViewData["Title"] = "Registrar Notas";
    Layout = "~/Pages/Shared/_LayoutLogado.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/notas.css" />
</head>

<div class="container">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <form id="notaForm" method="post" style="padding: 0 30vh;">
        <div class="row">

            <div class="col-md-4">
                <label>Turma:</label>
                <input type="text" name="Turma" id="turmaInput" class="form-control" value="@Model.Turma" readonly />
            </div>
            @* <div class="col-md-4">
                <label>Turma:</label>
                <select name="TurmaID" class="form-control">
                    @foreach (var turma in Model.Turmas)
                    {
                        var isSelected = "";
                        @foreach (var aluno in Model.Alunos)
                        {
                            if (aluno.Value == Model.AlunoSelecionadoId.ToString())
                            {
                                isSelected = turma.Value == Model.AlunoSelecionadoId.ToString() ? "selected" : "";
                            }
                            <option value="@aluno.Value" isSelected>@aluno.Text</option>
                        }
                        <option value="@turma.Value">@turma.Text</option>
                    }
                </select>
            </div> *@
            <div class="col-md-3">
                <label>Serie:</label>
                <input type="text" name="Serie" id="serieInput" class="form-control" value="@Model.Serie" readonly />
            </div>
            <div class="col-md-4">
                <label>Aluno:</label>
                <select name="AlunoID" id="alunoSelect" class="form-control">
                    @foreach (var aluno in Model.Alunos)
                    {
                        var isSelected = aluno.Value == Model.AlunoSelecionadoId.ToString() ? "selected" : "";
                        <option value="@aluno.Value" isSelected>@aluno.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Matéria:</label>
                <select name="DisciplinaID" class="form-control">
                    @foreach (var disciplina in Model.Disciplinas)
                    {
                        <option value="@disciplina.Value">@disciplina.Text</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label>Período:</label>
                <input type="text" name="Periodo" class="form-control" />
            </div>
            <div class="col-md-2">
                <label for="ValorNota">Nota:</label>
                <input type="number" name="ValorNota" class="form-control" step="0.01" min="0" max="100" />
            </div>

            <div class="col-md-2" style="margin-top: auto; margin-inline: auto;">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>

        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </form>
    <div id="grid">
        <partial name="_NotaPartial" model="@Model.Notas" />
    </div>
    
</div>

</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        
    </script>

    <script>
            function confirmDelete(notaId) {
                Swal.fire({
                    title: 'Tem certeza?',
                    text: "Esta ação é irreversível. Deseja realmente excluir?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, excluir!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Submete o formulário de exclusão manualmente
                        $('#deleteForm-' + notaId).submit();
                    }
                });
            }    
    </script>
    <script>
        $(document).ready(function () {
            $('#alunoSelect').on('change', function () {
                var alunoId = $('#alunoSelect').val();
                if (alunoId) {
                    $.ajax({
                        url: '@Url.Page("Index", new { handler = "GetSeriePorAluno" })', 
                        type: 'GET',
                        data: { alunoId: alunoId },
                        success: function (data) {
                            $('#serieInput').val(data[0]);
                            $('#turmaInput').val(data[1]);
                            $('#grid').load('/Notas?handler=NotaPartial&alunoId=' + alunoId);
                        },
                        error: function () {
                            alert('Erro ao buscar a série do aluno.');
                        }
                    });
                } else {
                    $('#serieInput').val('');
                }
            });




            $('#notaForm').on('submit', function (e) {
                e.preventDefault();
        
                var form = $(this);
                var alunoId = $('#alunoSelect').val();

                $.ajax({
                    url: '@Url.Page("Index", new { handler = "Post" })', 
                    type: 'POST',
                    data: form.serialize(), 
                    success: function () {
                        $('#grid').load('/Notas?handler=NotaPartial&alunoId=' + alunoId);
                    },
                    error: function () {
                        alert('Erro ao salvar a nota.');
                    }
                });
            });



        });


    </script>
}