@page
@model Relatorios.IndexModel
@{
    ViewData["Title"] = "Gerar Relatórios";
    Layout = "~/Pages/Shared/_LayoutLogado.cshtml";
}

<div class="container mt-4">
    <h2>Gerar Relatórios</h2>

   <form method="get" id="gerarRelatorio" action="@Url.Page("Index", new { handler = "FiltrarRelatorios" })">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="alunoSelect">Selecione o Aluno:</label>
                    <select id="alunoSelect" asp-for="Filtros.AlunoId" class="form-control">
                        <option value="0">Todos os Alunos</option>
                        @foreach (var aluno in Model.Alunos)
                        {
                                <option value="@aluno.Value">@aluno.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="turmaSelect">Selecione a Turma:</label>
                    <select id="turmaSelect" asp-for="Filtros.TurmaId" class="form-control">
                        <option value="0">Todas as Turmas</option>
                        @foreach (var turma in Model.Turmas)
                        {
                                <option value="@turma.Value">@turma.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="disciplinaSelect">Selecione a Disciplina:</label>
                    <select id="disciplinaSelect" asp-for="Filtros.DisciplinaId" class="form-control">
                        <option value="0">Todas as Disciplinas</option>
                        @foreach (var disciplina in Model.Disciplinas)
                        {
                                <option value="@disciplina.Value">@disciplina.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="professorSelect">Selecione o Professor:</label>
                    <select id="professorSelect" asp-for="Filtros.ProfessorId" class="form-control">
                        <option value="0">Todos os Professores</option>
                        @foreach (var professor in Model.Professores)
                        {
                                <option value="@professor.Value">@professor.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px;">
            <button type="submit" style="    
                                        width: 10%;
                                        margin-top: 10px;
                                        margin-left: auto;" 
                    class="btn btn-primary">Filtrar</button>
        </div>
    </form>

    <div id="grid" class="mt-4">
        <partial name="_RelatoriosPartial" model="@Model.Relatorios"  />
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    $(document).ready(function() {
        $('#gerarRelatorio').on('submit', function(event) {
            event.preventDefault();  

            var form = $(this);
            var url = form.attr('action') || '@Url.Page("Index", new { handler = "FiltrarRelatorios" })';

            $.ajax({
                url: url,
                type: 'GET',
                data: form.serialize(), 
                success: function(response) {
                    $('#grid').html(response);  
                },
                error: function() {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: 'Erro ao gerar o relatório.'
                    });
                }
            });
        });
    });
</script>
}
